@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts";
@import "normalize";
/*
* {
    font-family: $fontM;
}*/

button, a {
    cursor: pointer;
    transition: color .3s ease-in, background .3s ease-in;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.wrapper {
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    height: 100%;
    padding: 0 20px;
}

.page {

}

.section__title {

}
//================================
.header {
    height: 65px;
    padding: 5px 0 5px 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        flex: 0 0 auto;
    }
    &__link {
        flex: 0 0 55px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        img {
            max-width: 100%;
            display: block;
        }
    }
}
//================================
.sites {
    &__body {

    }
    &__item {

    }
}
.item-sites {
    &__image {
        overflow: hidden;
        img {

        }
    }
    &__description {

    }
    &__lable {

    }
    &__text {

    }
    &__link {

    }
}
//================================
.footer {

}