@import "normalize";

* {
    font-family: 'PT Sans', sans-serif;
}

button, a {
    cursor: pointer;
    transition: color .3s ease-in, background-color .3s ease-in;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgb(245, 245, 245);
}

.wrapper {
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.page {

}

.section__title {
    font-size: 24px;
    margin: 0 0 20px 0;
    @media (min-width: 731px) {
        font-size: 34px;
        margin: 0 0 40px 0;
    }
}
//================================
.header {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(105, 105, 105, .2);
    position: absolute;
    top: 0;
    left: 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        flex: 0 1 auto;
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        line-height: 130%;
        color: rgb(58, 58, 58);
        margin: 0 5px 0 0;
        .nobr {
            white-space: nowrap;
        }
        .name {
            display: none;
        }
    }
    &__link {
        display: none;
    }
    @media (min-width: 531px) {
        &__title {
            font-size: 18px;
            line-height: 100%;
            .name {
                display: block;
                font-size: 12px;
            }
        }
        &__link {
            display: block;
            flex: 0 0 35px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                display: block;
            }
        }
    }
    @media (min-width: 731px) {
        height: 65px;
        &__title {
            font-size: 24px;
            .name {
                font-size: 14px;
            }
        }
        &__link {
            flex: 0 0 55px;
        }
    }
}
//================================
.sites {
    color: rgb(58, 58, 58);
    padding: 65px 0 60px 0;
    &__body {
        display: block;
    }
    &__item {
        display: grid;
        grid-template: 1fr / 35% 1fr;
        column-gap: 10px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(105, 105, 105, .1);
        margin: 0 0 20px 0;
        &:last-child {
            grid-template: 1fr / 1fr;
        }
    }
    @media (min-width: 731px) {
        padding: 95px 0 100px 0;
        &__item {
            column-gap: 20px;
        }
    }
    @media (min-width: 951px) {
        &__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 1fr;
            column-gap: 30px;
            row-gap: 30px;
        }
        &__item {
            grid-template: 1fr / 26% 1fr;
            margin: 0;
        }
    }
    @media (min-width: 1021px) {
        &__body {
            column-gap: 50px;
            row-gap: 50px;
        }
    }
}
.item-sites {
    &__image {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__description {
        padding: 10px 10px 20px 0;
        display: grid;
        row-gap: 10px;
    }
    &__lable {
        font-size: 16px;
        line-height: 130%;
        margin: 0;
    }
    &__text {
        font-size: 12px;
        line-height: 130%;
        p {
            margin: 0 0 4px 0;
        }
    }
    &__link {
        width: 120px;
        height: 25px;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 12px;
        color: red;
        text-transform: uppercase;
        border: 1px solid red;
        background-color: white;
        border-radius: 5px;
    }
    &__self {
        display: grid;
        align-items: center;
        justify-items: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
        line-height: 130%;
        padding: 15px;
        text-align: center;
        span {
            font-size: 60px;
            display: block;
            margin: 0 0 30px 0;
        }
    }
    @media (min-width: 731px) {
        &__image {
            img {
                top: 0;
                transform: translate(-50%, 0);
            }
        }
        &__description {
            padding: 10px 10px 20px 0;
            display: grid;
            grid-template: minmax(26px, auto) 1fr 25px / 1fr;
            row-gap: 10px;
        }
        &__lable {
            font-size: 20px;
        }
        &__text {
            font-size: 16px;
            p {
                margin: 0 0 8px 0;
            }
        }
        &__link {
            width: 130px;
            font-size: 13px;
        }
        &__self {
            font-size: 24px;
            span {
                font-size: 100px;
            }
        }
    }
    @media (min-width: 768px) {
        &__image {
            &:hover {
                img {
                    transition: width 4s linear;
                    width: 110%;
                }
            }
        }
        &__link {
            &:hover {
                color: white;
                background-color: red;
            }
        }
    }
}
//================================
.footer {
    display: flex;
    justify-content: center;
    padding: 15px 0 20px 0;
    background: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(105, 105, 105, .2);
    .container {
        display: flex;
        justify-content: center;
    }
    &__link {
        color: black;
        font-size: 14px;
        padding: 3px;
        margin: 0 5px 0 5px;
    }
    @media (min-width: 731px) {
        &__link {
            font-size: 16px;
        }
    }
    @media (min-width: 768px) {
        &__link {
            &:hover {
                color: red;
            }
        }
    }
}