@import "normalize";

* {
    font-family: 'PT Sans', sans-serif;
}

button, a {
    cursor: pointer;
    transition: color .3s ease-in, background-color .3s ease-in;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgb(245, 245, 245);
}

.wrapper {
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.page {

}

.section__title {
    font-size: 34px;
    margin: 0 0 40px 0;
}
//================================
.header {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(105, 105, 105, .2);
    position: absolute;
    top: 0;
    left: 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        flex: 0 0 auto;
        font-family: 'Roboto Mono', monospace;
        font-size: 24px;
        color: rgb(58, 58, 58);
        span {
            font-size: 14px;
        }
    }
    &__link {
        flex: 0 0 55px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        img {
            max-width: 100%;
            display: block;
        }
    }
}
//================================
.sites {
    color: rgb(58, 58, 58);
    padding: 95px 0 30px 0;
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }
    &__item {
        display: grid;
        grid-template: 1fr / 26% 1fr;
        column-gap: 20px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(105, 105, 105, .1);
    }
}
.item-sites {
    &__image {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    &__description {
        padding: 10px 10px 20px 0;
        display: grid;
        grid-template: minmax(26px, auto) 1fr 25px / 1fr;
        row-gap: 10px;
    }
    &__lable {
        font-size: 20px;
        line-height: 130%;
        margin: 0;
    }
    &__text {
        font-size: 16px;
        line-height: 130%;
        p {
            margin: 0 0 8px 0;
        }
    }
    &__link {
        width: 130px;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 13px;
        color: red;
        text-transform: uppercase;
        border: 1px solid red;
        background-color: white;
        border-radius: 5px;
        &:hover {
            color: white;
            background-color: red;
        }
    }
}
//================================
.footer {
    display: flex;
    justify-content: center;
    padding: 15px 0 20px 0;
    background: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(105, 105, 105, .2);
    .container {
        display: flex;
        justify-content: center;
    }
    &__link {
        color: black;
        font-size: 16px;
        padding: 3px;
        margin: 0 10px 0 0;
        &:hover {
            color: red;
        }
    }
}